.card-list
    transition: all 0.4s ease
    position: absolute
    top: 0 
    left: 50%
    transform: translateX(-50%)
    // margin-top: 50px
    // background-image: url('../../images/devil.png')
    // background-color: black 
    // background-repeat: no-repeat
    // background-position: center top
    padding-top: 400px
    background-size: 750px
    height: 100%
    z-index: 2
    // position: relative
    // height: 800px

    // width: 680px
    &_disabled
        display: none
    &__block
        // position: absolute

        // left: 50%
        // transform: translateX(-50%)

        display: grid
        grid-gap: 10px
        &_simple
            grid-template-columns: 1fr 1fr 1fr 1fr
            grid-template-rows: 1fr 1fr 1fr 1fr
            width: 500px
            height: 500px
        &_regular
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
            grid-template-rows: 1fr 1fr 1fr 
            width: 700px
            height: 350px
        &_expert
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr
            grid-template-rows: 1fr 1fr 1fr 1fr
            width: 700px
            height: 400px
        
        // grid-template-rows: repeat(100px, minmax(180px, 1fr))