
@import './base/_variables';


@font-face 
    font-family: 'Comic Sans'
    src: url('../fonts/ComicSansMS-Bold.eot')
    src: url('../fonts/ComicSansMS-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ComicSansMS-Bold.woff2') format('woff2'),
    url('../fonts/ComicSansMS-Bold.woff') format('woff'),
    url('../fonts/ComicSansMS-Bold.ttf') format('truetype'),
    url('../fonts/ComicSansMS-Bold.svg#ComicSansMS-Bold') format('svg')
    font-weight: bold
    font-style: normal





@font-face 
    font-family: 'Museo Sans'
    src: url('../fonts/MuseoSansCyrl-500.eot')
    src: url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-500.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg')
    font-weight: 500
    font-style: normal

@font-face 
    font-family: 'Plump'
    src: url('../fonts/Plump.eot')
    src: url('../fonts/Plump.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Plump.woff2') format('woff2'),
    url('../fonts/Plump.woff') format('woff'),
    url('../fonts/Plump.ttf') format('truetype'),
    url('../fonts/Plump.svg#Plump') format('svg')
    font-weight: 700
    font-style: normal
@font-face 
    font-family: 'Cuphead Felix'
    src: url('../fonts/CupheadFelix-Regular.eot')
    src: url('../fonts/CupheadFelix-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CupheadFelix-Regular.woff2') format('woff2'),
    url('../fonts/CupheadFelix-Regular.woff') format('woff'),
    url('../fonts/CupheadFelix-Regular.ttf') format('truetype'),
    url('../fonts/CupheadFelix-Regular.svg#CupheadFelix-Regular') format('svg')
    font-weight: 500
    font-style: normal

.noSelect 
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    -webkit-tap-highlight-color: transparent



.container
    width: 980px
    margin: 0 auto
    position: relative
*   
    margin: 0
    padding: 0
    box-sizing: border-box 
    letter-spacing: .070em
    font-family: 'Plump', Comic Sans, sans-serif

img 
    align-self: start


p
    margin: 0
    padding: 0

input
    box-sizing: border-box  
 

ul, li 
	display: block
	padding: 0
	margin: 0
	box-sizing: border-box
.App 
    background: black
    height: 100%
#root
    height: 100%
body
    height: 100%
a
    text-decoration: none

html
    height: 100%

.orange-text
    color: $orange
    font-family: inherit

.ddcontainerghost
    opacity: 1 !important
    cursor: grabbing !important

.ddcontainer
    cursor: grab !important



@import './blocks/_spinner';
@import './blocks/_card';
@import './blocks/_curtain';
@import './blocks/_bottom-line';
@import './blocks/_buttons';
@import './blocks/_progress-bar';
@import './blocks/_devil';
@import './blocks/_game';
@import './blocks/_languages';
@import './blocks/_card-list';
@import './blocks/_transitions';
@import './blocks/_popups';
@import './blocks/_candy-bag-modal';
@import './blocks/_candy-bag-icon';
@import './blocks/_gift';
@import './blocks/_loader';
@import './blocks/_footer';


@import './base/_media';