$dark-brown-gradient: linear-gradient(180deg, rgba(120,16,0,1) 0%, rgba(34,0,10,1) 100%)
$dark-brown-gradient-horizontal: linear-gradient(-90deg, rgba(120,16,0,1) 0%, rgba(34,0,10,1) 100%)
$orange-gradient: linear-gradient(180deg, rgba(255,113,63,1) 0%, rgba(255,24,7,1) 60%)
$orange: rgba(255,24,7,1)
$purple-gradient: linear-gradient(180deg, rgba(241,84,255,1) 0%, rgba(100,0,213,1) 50%)
$purple: rgba(241,84,255,1)
$dark-brown: rgba(34,0,10,1)
$pale-orange: #ffb48b
$brown-gradient-button: linear-gradient(180deg, rgba(122,28,16,1) 0%, rgba(34,0,10,1) 100%)